* {
    box-sizing: border-box;
}
:root {
    --font-heading: sen, sans-serif;
    --primary-color:#FFB900;
}
html,
body {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}

/* common */
.break-all {
    word-break: break-all;
}
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.line-clamp.line-2 {
    --line-clamp: 2;
}
.heading {
    font-family: var(--font-heading);
    font-weight: 700;
    letter-spacing: -0.02em;
    color: #171100;
}
a {
    text-decoration: none;
}
.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}
.btn {
    min-width: 118px;
    display: inline-block;
    padding: 0 16px;
    align-items: center;
    line-height: 50px;
    font-weight: 600;
    font-size: 1.6rem;
    text-align: center;
    color: #FFFFFF;
    background: #171100;
    border-radius: 999px;
}
.btn:hover {
    opacity: 0.9;
}
/* header */
.header {
    background:#FFFCF4;
}
.header.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}
.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}
.nav ul {
    display: flex;
}

.nav {
    margin-left: auto;
}
.nav a {
    position: relative;
    padding: 8px 21px;
    font-weight: 400;
    font-size: 1.6rem;
    color: #5F5B53;
}
.nav a:hover,
.nav li.active a {
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}
.nav li.active a::after {
    left: 21px;
    bottom: 6px;
    display: block;
    content: "";
    position: absolute;
    width: 12px;
    height: 2px;
    background: #171100;
    border-radius: 1px;
}
.header .sign-up-btn {
    min-width: 144px;
}
.header .action {
    margin-left: 49px;
}

/* hero */
.hero {
    padding: 56px 0 65px;
    background:#FFFCF4;
}
.hero .body {
    display: flex;
}
/* hero left */
.hero .media-block {
    width: 48%;
    position: relative;
}

.hero .media-block .img {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
    display: block;
}
.hero .media-block .hero-summary {
    position: absolute;
    right: 0;
    bottom: 48px;
}
.hero .hero-summary {
    width: 270px;
    padding: 24px;
    background: #FFFFFF;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
}
.hero-summary .item {
    display: flex;
    align-items: center;
}
.hero-summary .icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFF9E8;
}
.hero-summary .info {
    margin-left: 16px;
}
.hero-summary .label {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5F5B53;
}
.hero-summary .tittle {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}
.hero-summary .item + .item {
    margin-top: 22px;
}
.hero-summary .item:nth-of-type(2) .icon {
    background: #FCEFFF;
}
.hero-summary .item:nth-of-type(3) .icon {
    background: #EBEAFF;
}
/* hero right */
.hero .content-block {
    width: 52%;
    padding: 64px 0 0 130px;
}
.hero .content-block .heading.lv1 {
    font-size: 5.8rem;
    line-height: 1.17;
}
.content-block .desc {
    margin-top: 22px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5F5B53;
}
.content-block .cta-group {
    margin: 38px 0 48px;
}
.content-block .cta-group .hero-cta{
    min-width: 180px;
    background-color: var(--primary-color);
    line-height: 64px;
}
.content-block .cta-group {
    display: flex;
    align-items: center;
}
.hero .watch-video {
    margin-left: 28px;
    display: flex;
    align-items: center;
    border: none;
    background: transparent;
    cursor: pointer;

}
.cta-group span {
    font-family: 'poppins', sans-serif;
    margin-left: 14px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}
.hero .watch-video .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
    border-radius: 50%;
    cursor: pointer;
}
.hero .watch-video .icon:hover {
    background: orange;
    opacity: 0.5;
}
.hero .stats {
    margin: 8px 0 0 -28px;

}
.hero .stats strong {
    --font-heading: sen, sans-serif;
    padding: 0 8px 0 28px;
    font-weight: 700;
    font-size: 4.4rem;
    line-height: 1.23;
    color: #171100;
}
/* popular */
.popular {
    padding: 65px 0;
    margin-top: 135px;
}
.popular .heading.lv2 {
    font-size: 3.8rem;
    line-height: 1.26;
}
.popular .desc {
    margin-top: 16px;
    width: 458px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5F5B53;
}
.popular .popular-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.popular-top .controls {
    display: flex;
    gap: 18px;
}
.popular-top .control-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    background: transparent;
}
.popular-top .control-btn:hover {
    color: #fff;
    background: var(--primary-color);
    cursor: pointer;
}
/* Course list */
.popular .course-list {
    display: flex;
    gap: 30px;
    margin-top: 55px;
}
.popular .course-item {
    flex: 1;
    width: 370px;
    background: #FFFFFF;
    border: 1px solid #E2DFDA;
    border-radius: 12px;
}
.popular .course-item .thumb {
    width: calc(100% + 2px);
    height: 278px;
    margin: -1px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
}
.popular .course-item .info {
    padding: 16px 22px 22px;
}
.popular .course-item .foot,
.popular .course-item .rating,
.popular .course-item .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.popular .course-item .tittle {
    padding-right: 6px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}
.popular .course-item .rating .value {
    margin-left: 6px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #FEA31B;
}
.popular .course-item .desc-course {
    margin-top: 6px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5F5B53;
}
.popular .foot {
    margin-top: 12px;
}
.popular .foot .price{
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}
.popular .foot .btn {
    height: 50px;
    border: none;
}
.popular .foot .btn:hover {
    background: #FFB900;
    transition: 0.2s;
}
/* feedback */
.feedback {
    margin-top: 135px;
    background: #2E2100;
    padding: 96px 0;
}
.feedback-list {
    display: flex;
    overflow: hidden;
}
.feedback-item {
    display: flex;
    flex-shrink: 0;
    width: 100%;
    transform: translateX(-100%);
    transition: all ease 0.3s;
}
.feedback-item .feedback-avt {
    width: 72px;
    height: 72px;
    object-fit: cover;
    border-radius: 50%;
}
.feedback-item .tittle-fdb {
    font-family: var(--font-heading);
    margin-top: 18px;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 1.42;
    color: #F7F7F7;
}
.feedback-item .desc-fdb {
    margin-top: 4px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #BFBCB3;
}
.feedback-item .dots {
    display: flex;
    margin-top: 28px;
}
.feedback-item .dot {
    width: 6px;
    height: 6px;
    margin-left: 6px;
    border-radius: 50%;
    background: #634700;
}
.feedback-item .dot.active{
    background: #FFB900;
    transition: 0.2s;
}
.feedback-item .content-fdb {
    width: 64%;
    margin-left: auto;
}
.content-fdb blockquote {
    margin-left: 30px;
    font-style: italic;
    font-weight: 400;
    font-size: 2.6rem;
    line-height: 1.54;
    color: #FFFFFF;
}
/* feature */
.features {
    padding: 65px;
    margin-top: 135px;
}
.features .body {
    display: flex;
}
.features .imges {
    display: flex;
    gap: 30px;
}
.features .imges img {
    width: 270px;
    height: 404px;
    object-fit: cover;
    border-radius: 16px;
}
.features .imges img:first-child {
    margin-top: 34px;
}
.features .content {
    width: 41%;
    margin-left: 130px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.features .feature-heading {
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 1.26;
    letter-spacing: -0.02em;
    color: #171100;
}
.features .feature-desc {
    margin-top: 16px;
    font-weight: 400;
    font-size: 1.6;
    line-height: 1.75;
    color: #5F5B53;
}
.features .content .cta-btn {
    margin-top: 32px;
    background: var(--primary-color) ;
    min-width: 137px;
    height: 50px;
    border-radius: 26px;
}
/* feature 2 */
.features-2nd {
    margin-top: 36px;
}
.features-2nd .content {
    margin-right: 130px;
    width: 49%;
    margin-left: 0;
}
.features-2nd .body {
    flex-direction: row-reverse;
}
.features-2nd .imges img {
    width: 470px;
    height: 440px;
    object-fit: cover;
    border-radius: 20px;
}
